body{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#jumpMenu{
    text-align: center;
    font-size: 1.5rem;
    padding-left: 25px;
    padding-right: 25px;
    background: orange;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    background: red;
    text-align: center;
    display: flex;
    flex-direction: column;
}


nav{
    display: flex;
    background-color: black;
    justify-content: space-around;
}

nav button{
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: large;
    background-color: blue;
    color: white;
}

#container-header{
    text-align: center;
    font-size: 3rem;
}

#container{
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}


#thanks{
    font-size: 3rem;
    position: fixed; 
    border: 2px solid black;
    bottom: 0;      
    right: 0;        
    padding: 10px;
    background-color: #8BC2F7;
    z-index: 1000; 
}